@charset "utf-8";

html {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
    font-size: 10px;
}

body {
    background-color: #ecebf3;
}

.inner {
    width: 1080px;
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

#header {
    background-color: #291985;
    color: #ecebf3;
}

#header .inner {
    padding: 5px 0;
    display: table;
}

#header .left {
    display: table-cell;
    width: 60%;
}

#header .right {
    display: table-cell;
    width: 40%;
}

#header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

#header .chatch-copy {
    display: inline-block;
}

#header .version {
    text-align: right;
}

main {
    display: table;
    padding-top: 20px;
}

main .left {
    display: table-cell;
    width: 750px;
    max-width: 750px;
    padding-right: 15px;
}

main .right {
    display: table-cell;
    padding-left: 15px;
}

main section+section {
    margin-top: 20px;
}

main h2 {
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 5px 0 10px;;
    padding: 0 0 0 5px;
    border-left: 5px solid #291985;
    border-bottom: 1px solid #291985;
}

section .information {
    font-size: 0.9rem;
}

section .information ul {
    padding-left: 25px;
}

.CodeMirror {
    height: 500px;
    font-size: 1rem;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.args {
    padding-left: 10px;
}

.args label {
    margin-right: 5px;
    font-size: 1.1rem;
}

button:focus {
    box-shadow: 0 0 10px #bbcbee;
    outline: solid 3px #bbcbee;
}

button:hover {
    cursor: pointer;
}

.button-area {
    margin: 5px 0;
}

.btn-blue {
    background-color: #291985;
    padding: 5px 20px;
    color: #ecebf3;
}

.btn-blue:hover {
    background-color: #0d4ddb;
}

.heading-wrapper {
    position: relative;
}

.heading-wrapper .button-area {
    display: inline-block;
    margin: 0;
}

#editor-font-size {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

#editor-font-size .font-size {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

#editor-font-size .font-size .size {
    min-width: 2rem;
    margin-left: 3px;
}

.btn-circle {
    border: 1px solid #291985;
    color: #291985;
    background-color: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1;
    font-size: 0.8rem;
    vertical-align: text-top;
}

.btn-circle.disabled {
    pointer-events: none;
    color: #bbcbee;
    border-color: #bbcbee;
}

.btn-circle:focus {
    outline: none;
}

input[type="text"] {
    border: 1px solid #291985;
    margin: 5px 0;
    padding: 1px 3px;
    background-color: #fff;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px #bbcbee;
    outline: solid 1px #bbcbee;
}

#output-box {
    border: 1px dotted #291985;
    padding: 5px;
    height: 300px;
    overflow-y: scroll;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#output-box .err-text {
    color: #ee1000;
}
